// scss混入
@mixin overflow-ellipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin thumb($width, $height) {
  position: relative;
  width: 100%;
  padding-bottom: $height / $width * 100%;

  .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}