@import "mixin";
@import "variate";

input {
  -webkit-appearance: none;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-ellipsis-2 {
  @include overflow-ellipsis(2);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-fix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.relative {
  position: relative;
}

.hv-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child-hv-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}