.block__swiper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    z-index:99;
    img {
        width: 100%;
    }
}
.block-fund-index{
    background:#f7f7f7;
}
.block__assets {
    width: 351px;
    // height:160px;
    position: relative;
    z-index: 999;
    margin: 10px 12px 0 12px;
    background:linear-gradient(176deg,rgba(72,156,255,1) 0%,rgba(32,102,237,1) 100%);
    box-shadow:0px 2px 4px 0px rgba(57,57,57,0.2);
    border-radius:8px;
    display: flex;
    color:#fff;
    flex-direction: column;
    .block--assets--header{
        width:100%;
        height:120px;
        display: flex;
        align-items: center;
        padding:0 20px;
        justify-content: space-between;
        .block--left{
            font-size:20px;
            color:#fff;
        }
        .block--right{
            width:142px;
            height:77px;
            background-size:100% 100%;
            position: relative;
            margin:-20px 0 0 0;
            .block--button{
                height:30px;
                padding:0 5px;
                background:#fff;
                border-radius:15px;
                position: absolute;
                right:0;
                color:rgba(13,80,216,1);
                bottom:0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .block__assets--bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        height:40px;
        padding:0 20px;
        font-size:12px;
        color:#fff;
    }
    .block__bottom--num{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 40px;
        span{
            font-size:14px;
            color:$text-color5;
        }
        em{
            font-size:20px;
            color:$text-color5;
            line-height: 40px;
            margin:1px 0 0 5px;
        }
    }
    .block__right--yes{
        text-align: right;
        .num{
            font-size:16px;
            line-height:36px;
        }
        .subtitle{
            color:rgba(255, 255, 255, 0.6)
        }
       
    }
    .block__top {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding:0 15px;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        .block__left--label {
            font-size: 14px;
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: row;
            line-height: 20px;
            color:#fff;
            em {
                font-size: 15px;
                margin: 0px 0 0 5px;
                color:rgba(255,255,255,0.6);
            }
            span{
                color:#fff;
            }
        }
        .block__right {
            text-align: right;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            span{
                margin:0 0 0 6px;
                color:rgba(255,255,255,0.6);
                font-size:12px;
            }
            em {
                font-size: 18px;
            }
            .icon-icon_fund_index_2{
                font-size:15px;
                margin:0 0 0 8px;
                color:rgba(255,255,255,0.6);
            }
            .block--label--list {
                text-align: right;
                display: flex;
                font-size: 14px;
                line-height: 18px;
                width: 100%;
                flex-direction: column;
                span {
                    color: $text-color6;
                }
            }
        }
        
    }
    .block__left--number {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-items: center;
        padding:12px 15px;
        width: 100%;
        .block__left--num{
            display: flex;
            flex-direction: column;
            flex:1;
            p{
                color:rgba(255,255,255,0.6);
            }
        }
        .block--element--number {
            font-size: 22px;
            line-height: 40px;
            // font-weight: bold;
            font-family: yxFontDINPro-Medium;
           
        }
        .color-blue{
            color: #fff;
        }
        .color-black{
            color:#fff;
        }
        .close--eye {
            line-height: 50px;
            
        }
        .block__list-es{
            display: flex;
            flex-direction: row;
            line-height: 21px;
        }
        .block--element--select {
            line-height: 18px;
            height:21px;
            border-radius:5px;
            border:1px solid rgba(255,255,255,0.4);
            font-size: 14px;
            padding:0 5px;
            font-weight: 600;
            margin: 10px 0 0 5px;
            position: relative;
            .icon-iconxiala {
                margin: 0 0 0 5px;
                color:rgba(255,255,255,0.4);
            }
            .icon-icon_fund_index_2 {
                color: #8C8C8C;
                margin: 0 0 0 10px;
            }
            .block--master {
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 99999;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
            .block__currey {
                width: 120px;
                position: absolute;
                height: 100px;
                z-index: 9999999;
                border-radius: 10px;
                left: 0px;
                top: 55px;
                background: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                span {
                    color: #000;
                    width: 100px;
                    height: 50px;
                    line-height: 50px;
                    display: block;
                    margin: 0 10px;
                }
                .active {
                    color: #0091ff;
                }
            }
            .block__currey:before {
                content: '';
                width: 0px;
                height: 0px;
                top: -10px;
                left: 20px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
                position: absolute;
            }
        }
    }
    .block__left__bottom{
        display: flex;
        height:42px;
        width:100%;
        align-items: center;
        padding:0 10px;
        justify-content: space-between;
        flex-direction: row;
        .block__bottom--l,.block__bottom-r{
            display: flex;
            flex-direction: row;
            width:100%;
            height:100%;
            align-items: center;
            font-size:12px;
            justify-content: space-between;
            .num{
                font-size:14px;
                margin:0 0 0 10px;
            }
            p{
                white-space: nowrap;
            }
            .word{
                font-size:12px;
            }
            em{
                font-style: normal;
            }
            .iconfont{
                float:right;
            }
        }
        .icon-previewright{
            font-size:15px;
            margin:0px 0 0 3px;
            color:rgba(255,255,255,0.6);
        }
        .block__bottom--l{
            // border-right:1px solid #ebedf0;
        }
        .block__bottom-r{
            padding:0 0 0 11px;
        }
    }
    .text-align{
       justify-content: center;
    }
}

.block__tab {
    width: 100%;
    margin: 20px 0 20px 0;
    .block__tab--list {
        display: flex;
        flex-direction: row;
        .block__tab--Item {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img {
                width: 40px;
                height: 40px;
            }
            span {
                margin:5px 0 0 0;
                color: $text-color6;
            }
        }
    }
}
.block__container {
    width: 100%;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    .block-bannar {
        width: 90%;
        margin: 0 5%;
        img {
            width: 100%;
        }
    }
    .block-bannar-sub {
        height:85px;
        img {
            width: 100%;
            height:100%;
        }
        
    }
    .block-bannar-sub-swiper{
        // width:100%;
        // margin:0 12px;
        margin:20px 12px;
        img {
            width: 100%;
        }
    }
    .block-bannar-sub{
        margin:14px 0 0 0;
        width:100%;
        img{
            width:100%;
        }
    }
}
.block--bannar-swipper{
    margin:10px 0 0 0;
}
.canvas-list {
    opacity: 0;
    position: fixed;
    top: 0;
}
.block--dialog {
    .van-dialog__message{
        text-align: justify;
        white-space:pre-line;
    }
}

.fund-echart-render {
    height: 65px;
    width: 70px;
}
.block--yxbao-container {
    width: 351px;
    height: 140px;
    margin: 20px 12px;
    background: url('~@/assets/img/fund/yxbao-bg.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    .block--title {
        display: flex;
        flex-direction: row;
        align-items: center;
        h3 {
            font-size: 18px;
            color: #fff;
        }
        .iconfont {
            font-size: 14px;
            margin: 5px 0 0 5px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .block--desc {
        color: rgba(255, 255, 255, 0.6);
        line-height: 28px;
    }
    .block--bottom-content {
        width: 331px;
        height: 57px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 7px 0 0 0;
        border-radius:4px;
        background: #fff;
        .number {
            font-size: 20px;
            font-family: yxFontDINPro-Medium;
            line-height: 26px;
        }
        .block--bottom--desc {
            font-size: 12px;
            color: $text-color5;
        }
        .van-button {
            // width: 80px;
            height: 32px !important;
            line-height: 32px;
            font-size: 12px;
            color: #fff;
            border-radius: 32px !important;
            background: #0d50d8;
        }
    }
}

.color-green {
    color: #04ba60;
}
.color-red {
    color: #ea3d3d;
}

.van-dialog__message--left{
    text-align: justify;
}