.block__swiper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    z-index:99;
    img {
        width: 100%;
    }
}
.block-fund-index{
    background:rgba(251,252,254,1);
}
.block__assets {
    width: 90%;
    height: 115px;
    padding: 0 15px;
    position: relative;
    z-index: 999;
    margin: -48px 5% 0 5%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    .block__left__bottom{
            span{
                line-height:20px;
                font-size:14px;
                margin:0 0 0 4px;
                color:$text-color5;
            }
        }
    .block__left {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 40px;
        .block__left--label {
            font-size: 14px;
            width: 60%;
            display: flex;
            margin: 10px 0 0 0;
            align-items: center;
            flex-direction: row;
            line-height: 20px;
            color:$text-color5;
            em {
                font-size: 20px;
                margin: 0px 0 0 5px;
                
            }
        }
        .block__right {
            text-align: right;
            width: 40%;
            height: 40px;
            margin: 15px 0 0 0;
            .block--hold {
                width: 90px;
                // height: 25px;
                border-radius: 15px;
                text-align: center;
                float: right;
                font-weight: 400;
                color: rgba(0, 145, 255, 1);
                line-height: 25px;
                margin: 0 0 10px 0;
                border: 1px solid rgba(0, 145, 255, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                em {
                    font-size: 20px;
                }
            }
            .block--label--list {
                text-align: right;
                display: flex;
                font-size: 14px;
                line-height: 18px;
                width: 100%;
                flex-direction: column;
                span {
                    color: $text-color6;
                }
            }
        }
        
    }
    .block__left--number {
        display: flex;
        flex-direction: row;
        height: 40px;
        width: 100%;
        .block--element--number {
            font-size: 28px;
            line-height: 40px;
            font-weight: bold;
            font-family: yxFontDINPro-Bold;
            color: rgba(0, 145, 255, 1);
        }
        .close--eye {
            line-height: 50px;
        }
        .block--element--select {
            line-height: 42px;
            font-size: 14px;
            font-weight: 600;
            color: rgba(0, 145, 255, 1);
            margin: 0 0 0 5px;
            position: relative;
            .icon-iconxiala {
                margin: 0 0 0 5px;
                color: rgba(25, 25, 25, 0.65);
            }
            .icon-icon_fund_index_2 {
                color: rgba(25, 25, 25, 0.65);
                margin: 0 0 0 10px;
            }
            .block--master {
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 99999;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
            .block__currey {
                width: 120px;
                position: absolute;
                height: 100px;
                z-index: 9999999;
                border-radius: 10px;
                left: 0px;
                top: 55px;
                background: #fff;
                display: flex;
                justify-content: center;
                flex-direction: column;
                span {
                    color: #000;
                    width: 100px;
                    height: 50px;
                    line-height: 50px;
                    display: block;
                    margin: 0 10px;
                }
                .active {
                    color: #0091ff;
                }
            }
            .block__currey:before {
                content: '';
                width: 0px;
                height: 0px;
                top: -10px;
                left: 20px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
                position: absolute;
            }
        }
    }
}

.block__tab {
    width: 100%;
    margin: 20px 0 0 0;
    .block__tab--list {
        display: flex;
        flex-direction: row;
        .block__tab--Item {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img {
                width: 40px;
                height: 40px;
            }
            span {
                color: $text-color6;
            }
        }
    }
}
.block__container {
    width: 100%;
    background: #fff;
    padding: 0 0 20px 0;
    .block-bannar {
        width: 90%;
        margin: 0 5%;
        img {
            width: 100%;
        }
    }
    .block-bannar-sub {
        width: 90%;
        height:85px;
        // overflow: hidden;
        margin: 20px 5% 0 5%;
        img {
            width: 100%;
            height:100%;
        }
    }
}
.canvas-list {
    opacity: 0;
    position: fixed;
    top: 0;
}