
.text-align-justify .van-dialog__message {
    text-align: justify;
    white-space:pre-line;
}
.funds-details-header {
    background: $background-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 174px;
    background: #fff;
    position: relative;
    .block__right--tag {
        position: absolute;
        min-width: 76px;
        // height: 38px;
        padding: 8px 5px;
        border-radius: 100px 0px 0px 100px;
        background: rgba(236, 236, 238, 0.5);
        color: #929292;
        border-right: none;
        line-height: 32px;
        display: flex;
        align-items: center;
        top: 87px;
        right: 0;
        z-index:999;
        .iconfont {
            font-size: 12px;
        }
        .block__tag--right {
            font-size: 9px;
            width:100%;
            font-weight: 400;
            text-align: center;
            p {
                line-height: 16px;
                margin: 0 0 0 2px;
            }
        }
    }
    .fund-details-header-top {
        width: 100%;
        padding: 10px;
        position: relative;
        
    }
    h3 {
        font-size: 0.32rem;
        color: $text-color;
        margin: 10px 0 3px 0;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .funds-details-subtitle {
        color: $text-color3;
        width: 100%;
        display: flex;
       align-items: center;
        font-size: 0.24rem;
        .block-left{
            padding:0 0 0 14px;
        }
    }
    .block-left {
        display: flex;
        .fund_tag {
            margin: 0 8px 0 0;
            display: flex;
            flex-direction: row;
            span {
                font-size: 10px;
                line-height: 25px;
                color: #666666;
            }
        }
        .iconfont {
            font-size: 16px;
        }
        .icon-iconsjijinfengxiancopy-copy {
            color: #b38c23;
        }
        .icon-iconsjijinfengxian {
            color: #d0524a;
        }
        .icon-iconsjijinfengxiancopy-copy1 {
            color: #f8d61c;
        }
    }
    .funds-details-number {
        width: 100%;
        padding: 10px 10px 15px 10px;
        background: #fff;
        display: flex;
        flex-direction: row;
        .header-left,
        .header-right {
            p {
                font-size: 0.56rem;
                font-weight: 500;
                font-family: yxFontDINPro-Medium;
            }
            .number-red {
                color: rgba(234, 61, 61, 1);
            }
            .number-green {
                color: #04ba60;
            }
            .number-black {
                color: $text-color;
            }
            span {
                color: $text-color5;
                font-size: 0.24rem;
            }
        }
        .header-left {
            margin: 0 40px 0 0;
            .tipWarning {
                width: 20px;
                height: 20px;
                padding: 3px;
            }
        }
    }
    .funds-details-footer {
        width: 100%;
        background: #fff;
        display: flex;
        flex-direction: row;
        padding: 10px;
        font-size: 11px;
        // justify-content: space-between;
        color: $text-color5;
        .number-red {
            color: rgba(234, 61, 61, 1);
        }
        .number-green {
            color: #04ba60;
        }
        .block__details--right {
            text-align: right;
        }
    }
}