@mixin font( $family: 'PingFangHK-Regular',$size: 12px, $weight: 400, $color:#393939) {
    font: {
        family: $family;
        size: $size;
        weight: $weight;
    }
    color: $color;
}
@mixin W-H($width,$height:auto){
    width: $width;
    height: $height;
}
.header {
    height: 44px;
    line-height: 44px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}